<a href="https://colab.research.google.com/github/abhi311295/Bitcoin-Price-Prediction/blob/main/Bitcoin_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [2]:
import numpy as np 
import pandas as pd

Loading the Dataset

In [3]:
df = pd.read_csv('bitcoin.csv')

Viewing the first 5 rows of the dataset

In [4]:
df.head()

    Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0  1325317920  4.39  4.39  ...      0.455581                2.0            4.39
1  1325317980   NaN   NaN  ...           NaN                NaN             NaN
2  1325318040   NaN   NaN  ...           NaN                NaN             NaN
3  1325318100   NaN   NaN  ...           NaN                NaN             NaN
4  1325318160   NaN   NaN  ...           NaN                NaN             NaN

[5 rows x 8 columns]

Info for the dataset

In [16]:
df.shape

(2349841, 8)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349841 entries, 0 to 2349840
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   Timestamp          int64
 1   Open               float64
 2   High               float64
 3   Low                float64
 4   Close              float64
 5   Volume_(BTC)       float64
 6   Volume_(Currency)  float64
 7   Weighted_Price     float64
dtypes: float64(7), int64(1)
memory usage: 143.4 MB

In [7]:
df.columns

Index(['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume_(BTC)',
       'Volume_(Currency)', 'Weighted_Price'],
      dtype='object')

Statistical anylysis of the dataset

In [9]:
df.describe()

          Timestamp          Open  ...  Volume_(Currency)  Weighted_Price
count  2.349841e+06  1.299196e+06  ...       1.299195e+06    1.299195e+06
mean   1.395939e+09  3.662001e+02  ...       4.807622e+03    3.661780e+02
std    4.084820e+07  2.119424e+02  ...       1.877288e+04    2.119253e+02
min    1.325318e+09  3.800000e+00  ...       0.000000e+00    3.800000e+00
25%    1.360566e+09  2.283400e+02  ...       1.198267e+02    2.283299e+02
50%    1.395813e+09  3.542800e+02  ...       5.563468e+02    3.542543e+02
75%    1.431449e+09  4.681900e+02  ...       2.697650e+03    4.681603e+02
max    1.466697e+09  1.163000e+03  ...       1.865889e+06    1.163000e+03

[8 rows x 8 columns]

Checking if there is any null vales

In [11]:
x = df.isna().sum()  
x

Timestamp                  0
Open                 1050645
High                 1050645
Low                  1050645
Close                1050646
Volume_(BTC)         1050646
Volume_(Currency)    1050646
Weighted_Price       1050646
dtype: int64

Checking how many % of the null values are there in the Dataset

In [15]:
(x['Open']/len(df.index))*100

44.71132302142996

Droping the null vaues

In [17]:
df.dropna(inplace=True)

Checking the duplicate values in the timestamp column

In [19]:
dup_1 = df[df.duplicated()]
dup_1

Empty DataFrame
Columns: [Timestamp, Open, High, Low, Close, Volume_(BTC), Volume_(Currency), Weighted_Price]
Index: []

Checking for the duplicated in the timestamp field

In [20]:
dup_2 = df[df.duplicated('Timestamp')]
dup_2

Empty DataFrame
Columns: [Timestamp, Open, High, Low, Close, Volume_(BTC), Volume_(Currency), Weighted_Price]
Index: []

**Data Processing**

Converting Timestamp in Date and Time format

In [22]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'] , unit='s')
df.head()

               Timestamp  Open  ...  Volume_(Currency)  Weighted_Price
0    2011-12-31 07:52:00  4.39  ...           2.000000        4.390000
478  2011-12-31 15:50:00  4.39  ...         210.720000        4.390000
547  2011-12-31 16:59:00  4.50  ...         171.380338        4.526411
548  2011-12-31 17:00:00  4.58  ...          41.220000        4.580000
1224 2012-01-01 04:16:00  4.58  ...           6.879160        4.580000

[5 rows x 8 columns]

Checking the time range of the dataset

In [23]:
df['Timestamp'].min()

Timestamp('2011-12-31 07:52:00')

In [24]:
df['Timestamp'].max()

Timestamp('2016-06-23 15:43:00')

So we have the time range bwtween 12/2011 and 06/2016